{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
thi is the cart page .proceed to review your Items and place the order
{% endblock %}
{% block title %}
    Cart - FORREST COMPANY PVT ltd
{% endblock %}
{% block content %}
{% if not cart_items %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my-title">
            your shopping cart is empty
        </h1>
        <br>
        <p class="text-center">
            please click <a href="{% url 'shop:allProdCat' %}"> Here </a>to continue shopping.
        </p>
    </div>
</div>
{% else %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my title">
            Your Shopping Cart
        </h1>
        <br>
    </div>
</div>

<div class="row mx-auto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <thead class="my_custom_thead">
            <tr>
                <th colspan="5">
                    Your items
                </th>
            </tr>
            </thead>
            <tbody>
            {% for cart_items in cart_items %}
            <tr>
                <td style="width=50px;height;30px;">
                    <a href="cart_item.products.get_absolute_url"> <img src="{{cart_items.product.image.url}}" height="200" width="300" class="float-left-rounded.custom_image"> </a>
                </td>
                <td class="text-lef" >
                    {{cart_items.product.name}}
                    <br>
                    SKU: {{cart_items.product_id}}
                    <br>
                    price : ${{cart_items.product.price}}
                    <br>
                    Quantity: {{cart_items.quantity}}x{{cart_items.product.price}}
                    <br>
                    ${{ cart_items.sub_total}}
                </td>
                {% if cart_items.quantity.cart_items.product.stock %}
                <td>
                    <a href="{% url 'cart:add_cart' cart_items.product.id %}" class="custom_a"><i class="fa fa-minus custom_icon"></i></a>
                    &nbsp;<a href="{% url 'cart:cart_remove' cart_items.product.id %}" class="custom_a"> <i class="fa fa-minus custom_icon"></i></a>
                    &nbsp; <a href="{% url 'cart:full_remove' cart_items.product.id %}"> <i class="fa fa-trash custom_icons"></i></a>
                    <br>
                </td>
                {% else %}
                 <td>
                     &nbsp;<a href="{% url 'cart:add_cart' cart_items.product.id %}" class="custom_a"><i class="fa fa-plus custom_icon"></i></a>
                    &nbsp<a href="{% url 'cart:cart_remove'  cart_items.product.id %}"  class="custom_a"> <i class="fa fa-minus custom_icon"></i></a>
                    &nbsp<a href="{% url 'cart:full_remove' cart_items.product.id %}"> <i class="fa fa-trash custom_icons"></i></a>
                     <br>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <thead class="my_custom_thead">
            <tr>
                <th>
                    Checkout
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Feedback
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    Your total is : <strong> {{total}}</strong>

                </td>
            </tr>
            </tbody>
        </table>
        <div class="mx-auto">
            <a href="{% url 'shop:allProdCat' %}" class="btn btn-secondary btn-block my_custom_button">Continue Shopping</a>

        </div>
    </div>
</div>


{% endif %}
{% endblock %}
